@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ZT Nature Variable';
    src: url('/public/fonts/ZT-Nature-Variable-VF.ttf') format('truetype-variations'),
         url('/public/fonts/ZT-Nature-Variable-VF.ttf') format('truetype') tech('variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

body {
    font-family: 'ZT Nature Variable', sans-serif;
}

.variable-heading {
  font-family: 'ZT Nature Variable', sans-serif;
  font-variation-settings: "wght" 400;
  transition: font-variation-settings 0.5s ease, transform 0.5s ease, letter-spacing 0.5s ease;

  will-change: transform;
  transform: translateZ(0);
}

.variable-heading:hover {
  font-variation-settings: "wght" 700;
  /* transform: scale(1.05);  */
  /* letter-spacing: 0.02em; */

  will-change: transform;
  transform: translateZ(0);
}

.variable-text, .exclude-var-text {
  font-family: 'ZT Nature Variable', sans-serif;
  font-variation-settings: "wght" 500;
}
